Mario_pizza_client/web/WEB-INF/wsdl/localhost_8080/Mario_pizza/MarioWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://pizzeria.mario.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://pizzeria.mario.com/" name="MarioWebService">
<wsp:Policy wsu:Id="MarioWebServicePortBindingPolicy"/>
<types>
<xsd:schema>
<xsd:import namespace="http://pizzeria.mario.com/" schemaLocation="http://localhost:8080/Mario_pizza/MarioWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="getClientFromOrder">
<part name="parameters" element="tns:getClientFromOrder"/>
</message>
<message name="getClientFromOrderResponse">
<part name="parameters" element="tns:getClientFromOrderResponse"/>
</message>
<message name="Transformer">
<part name="parameters" element="tns:Transformer"/>
</message>
<message name="TransformerResponse">
<part name="parameters" element="tns:TransformerResponse"/>
</message>
<message name="addCommande">
<part name="parameters" element="tns:addCommande"/>
</message>
<message name="addCommandeResponse">
<part name="parameters" element="tns:addCommandeResponse"/>
</message>
<portType name="MarioWebService">
<operation name="getClientFromOrder">
<input wsam:Action="http://pizzeria.mario.com/MarioWebService/getClientFromOrderRequest" message="tns:getClientFromOrder"/>
<output wsam:Action="http://pizzeria.mario.com/MarioWebService/getClientFromOrderResponse" message="tns:getClientFromOrderResponse"/>
</operation>
<operation name="Transformer">
<input wsam:Action="http://pizzeria.mario.com/MarioWebService/TransformerRequest" message="tns:Transformer"/>
<output wsam:Action="http://pizzeria.mario.com/MarioWebService/TransformerResponse" message="tns:TransformerResponse"/>
</operation>
<operation name="addCommande">
<input wsam:Action="http://pizzeria.mario.com/MarioWebService/addCommandeRequest" message="tns:addCommande"/>
<output wsam:Action="http://pizzeria.mario.com/MarioWebService/addCommandeResponse" message="tns:addCommandeResponse"/>
</operation>
</portType>
<binding name="MarioWebServicePortBinding" type="tns:MarioWebService">
<wsp:PolicyReference URI="#MarioWebServicePortBindingPolicy"/>
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getClientFromOrder">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Transformer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addCommande">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="MarioWebService">
<port name="MarioWebServicePort" binding="tns:MarioWebServicePortBinding">
<soap:address location="http://localhost:8080/Mario_pizza/MarioWebService"/>
</port>
</service>
</definitions>